body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #222;
  color: white;
  padding: 1rem;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 3rem;
  padding: 1rem;
  background: #eee;
  text-align: center;
}

.centered {
  text-align: left;
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.small-img {
  width: 50%;
  height: auto;
}

.screenshots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.screenshots img {
  width: 300px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
}
